@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.main-container{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(7, 87, 63, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    top: 0;
    left: 0;
}
.game-over{
    background-color: rgba(255, 31, 80, 0.678);
    
}
.color-container{
    min-height: 60vh;
    width: 50%;
    display: grid;
    grid-template-columns:repeat(2, 20rem);
    grid-template-rows: repeat(2, 20rem);
    justify-content: center;
    align-content: center;
    grid-gap:5rem;
}
#green{
    background-color: green;    
    border:1rem solid rgba(0, 0, 0, 0.822) ;
    border-radius: 3rem;    border-radius: 3rem;
}
#red{
    background-color: red;
    border:1rem solid rgba(0, 0, 0, 0.822) ;
    border-radius: 3rem;}
#yellow{
    background-color: yellow;
    border:1rem solid rgba(0, 0, 0, 0.822) ;
    border-radius: 3rem;}
#blue{
    background-color: blue;
    border:1rem solid rgba(0, 0, 0, 0.822) ;
    border-radius: 3rem;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
.tittle{
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
@media screen and (max-width: 900px){
    .color-container{
        grid-template-columns:repeat(2, 13rem);
        grid-template-rows: repeat(2, 13rem);
        grid-gap:2rem;
        width: 100%;
    }
    .tittle{
        font-size: 3rem;
    }
    
}